In [1]:
def describe_employee(name,number, address, salary, post, year_of_joining, education,experience):
    print("Details of Employee")
    print("Name : ",name)
    print("Number : ", number)
    print("Address  : ",address)
    print("")
    # print("Salary : ",salary)
    # print("Post : ",post)
    # print("Year of Joining : ",year_of_joining)
    # print("Education : ",education)
    # print("Experience : ",experience ,"Years")
    # print()

def increase_salary(salary,increment):
    salary = salary + increment
    print("Updated Salary : ",salary)

def update_year_of_experience(experience, inc_exp):
    experience += inc_exp
    print("Updated Experience : ", experience, "Years")



name = "Ali Huzaifa"
number = "03002981811"
address = "Gulshan e Iqbal"
salary = 100000
education = "BSCS"
year_of_joining = 2023
post = "Manager"
experience = 5

describe_employee(name,number, address, salary, post, year_of_joining, education,experience)
print()

Details of Employee
Name :  Ali Huzaifa
Number :  03002981811
Address  :  Gulshan e Iqbal

In [3]:
increase_salary(salary,50000)

Updated Salary :  150000

In [5]:
update_year_of_experience(experience,2)

Updated Experience :  7 Years

In [7]:
employee_list = [["Ali", "0315000011", "Gulshan", 100000, "Manager", 2023, "BBA", 5],
                 ["Sufyan", "0315000011", "Nazimabad", 50000, "Developer", 2023, "BSCS", 5],
                 ["Ahmed", "0315000011", "DHA", 200000, "Sales Manager", 2023, "BSDM", 5],
                 ["Umer", "0315000011", "Jauhar", 25000, "Developer", 2023, "BSSE", 5],
                 ["Rafay", "0315000011", "Gulshan", 150000, "Data Analyst", 2023, "BSDS", 5],
                 ["Murtaza", "0315000011", "Clifton", 60000, "IT Dep", 2023, "BSIT", 5],
                 ["Jawaid", "0315000011", "F.B Area", 75000, "Sales", 2023, "BCOM", 5],
                 ["Maryam", "0315000011", "Gulberg", 30000, "Developer", 2023, "BSCS", 5],
                 ["Ayan", "0315000011", "Nazimabad", 80000, "HR Manager", 2023, "BBA", 5],
                 ["Sara", "0315000011", "DHA", 500000, "Data Scientist", 2023, "BSDS", 5]
                ]


for emp in employee_list:
    describe_employee(name,number, address, salary, post, year_of_joining, education,experience)

Details of Employee
Name :  Ali Huzaifa
Number :  03002981811
Address  :  Gulshan e Iqbal

Details of Employee
Name :  Ali Huzaifa
Number :  03002981811
Address  :  Gulshan e Iqbal

Details of Employee
Name :  Ali Huzaifa
Number :  03002981811
Address  :  Gulshan e Iqbal

Details of Employee
Name :  Ali Huzaifa
Number :  03002981811
Address  :  Gulshan e Iqbal

Details of Employee
Name :  Ali Huzaifa
Number :  03002981811
Address  :  Gulshan e Iqbal

Details of Employee
Name :  Ali Huzaifa
Number :  03002981811
Address  :  Gulshan e Iqbal

Details of Employee
Name :  Ali Huzaifa
Number :  03002981811
Address  :  Gulshan e Iqbal

Details of Employee
Name :  Ali Huzaifa
Number :  03002981811
Address  :  Gulshan e Iqbal

Details of Employee
Name :  Ali Huzaifa
Number :  03002981811
Address  :  Gulshan e Iqbal

Details of Employee
Name :  Ali Huzaifa
Number :  03002981811
Address  :  Gulshan e Iqbal