In [1]:
class Employee:
    def __init__(self,name, number, address, salary, post, yearofjoining, education,experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.yearofjoining = yearofjoining
        self.education = education
        self.experience = experience

    def describe_employee(self):
        print("Employee Details")
        print("Name : ", self.name )
        print("Address : ", self.address)
        print("Salary : ", self.salary)
        print("Education : ", self.education)

    def update_year_of_experience(self, inc_exp):
         self.experience = self.experience + inc_exp
         print("Updated Experience : " , self.experience, "Years")

    def increase_salary(self , increment):
        self.salary = self.salary + increment
        print("Updated Salary : ", self.salary)

employee101 = Employee("Ali", "0315000011", "gulshan", 100000, "Manager", 2023, "BSCS", 5 )
print(employee101.name)
print(employee101.number)
print(employee101.salary)
print(employee101.education)

Ali
0315000011
100000
BSCS

In [3]:
employee101.describe_employee()

Employee Details
Name :  Ali
Address :  gulshan
Salary :  100000
Education :  BSCS

In [5]:
employee101.update_year_of_experience(3)

Updated Experience :  8 Years

In [7]:
employee101.increase_salary(50000)

Updated Salary :  150000

In [9]:
employee_list = [Employee("Ali", "0315000011", "Gulshan", 100000, "Manager", 2023, "BBA", 5 ),
                Employee("Sufyan", "0315000011", "Nazimabad", 50000, "Developer", 2023, "BSCS", 5 ),
                Employee("Ahmed", "0315000011", "DHA", 200000, "Sales Manager", 2023, "BSDM", 5 ),
                Employee("Umer", "0315000011", "Jauhar", 25000, "Developer", 2023, "BSSE", 5 ),
                Employee("Rafay", "0315000011", "Gulshan", 150000, "Data Analyst", 2023, "BSDS", 5 ),
                Employee("Murtaza", "0315000011", "Clifton", 60000, "IT Dep", 2023, "BSIT", 5 ),
                Employee("Jawaid", "0315000011", "F.B Area", 75000, "Sales", 2023, "BCOM", 5 ),
                Employee("Maryam", "0315000011", "Gulberg", 30000, "Developer", 2023, "BSCS", 5 ),
                Employee("Ayan", "0315000011", "Nazimabad", 80000, "HR Manager", 2023, "BBA", 5 ),
                Employee("Sara", "0315000011", "DHA", 500000, "Data Scientist", 2023, "BSDS", 5 )
                ]

for emp in employee_list:
    emp.describe_employee()
    print()

Employee Details
Name :  Ali
Address :  Gulshan
Salary :  100000
Education :  BBA

Employee Details
Name :  Sufyan
Address :  Nazimabad
Salary :  50000
Education :  BSCS

Employee Details
Name :  Ahmed
Address :  DHA
Salary :  200000
Education :  BSDM

Employee Details
Name :  Umer
Address :  Jauhar
Salary :  25000
Education :  BSSE

Employee Details
Name :  Rafay
Address :  Gulshan
Salary :  150000
Education :  BSDS

Employee Details
Name :  Murtaza
Address :  Clifton
Salary :  60000
Education :  BSIT

Employee Details
Name :  Jawaid
Address :  F.B Area
Salary :  75000
Education :  BCOM

Employee Details
Name :  Maryam
Address :  Gulberg
Salary :  30000
Education :  BSCS

Employee Details
Name :  Ayan
Address :  Nazimabad
Salary :  80000
Education :  BBA

Employee Details
Name :  Sara
Address :  DHA
Salary :  500000
Education :  BSDS